<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新建处方信息')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <style>
        .drug-item {
            border: solid thin #ddd;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-records-add">
        <h4 class="form-header h4">新建处方</h4>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">姓名：</label>
            <div class="col-sm-2">
                <input name="name" class="form-control" type="text" required>
            </div>

            <label class="col-sm-2 control-label is-required">性别：</label>
            <div class="col-sm-2">
                <select name="sex" class="form-control">
                    <option value="未完结">男</option>
                    <option value="已完结">女</option>
                </select>
            </div>

            <label class="col-sm-2 control-label is-required">年龄：</label>
            <div class="col-sm-2">
                <input name="age" class="form-control" type="text" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label is-required">电话：</label>
            <div class="col-sm-3">
                <input name="phone" class="form-control" type="text" required>
            </div>

            <label class="col-sm-2 control-label is-required">身份证号：</label>
            <div class="col-sm-3">
                <input name="idNumber" class="form-control" type="text" required>
            </div>


        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">诊断：</label>
            <div class="col-sm-10">
                <textarea name="diagnosis" class="form-control" required></textarea>
            </div>
        </div>


        <h4 class="form-header h4">处方的药品信息信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <input name="seach_keywords" id="seach_keywords" class="form-control" type="text"
                           placeholder="请输入药品名或者别名"
                           required>
                </div>
                <button type="button" class="btn btn-white btn-sm" onclick="search_drug()"><i
                        class="fa fa-search">搜索</i>
                </button>


                <!--                <div class="col-sm-12">-->
                <!--                    <h3 th:each="drugItem:${drugs}">-->
                <!--                        [[#{drugItem.key}]]-->
                <!--                        <span th:text="${drugItem.key}"></span>-->
                <!--                    </h3>-->

                <!--                    <div th:with="num=5">-->
                <!--                        <p>1、获取对象中的userName属性：[[${user.password}]]</p>-->
                <!--                    </div>-->
                <!--                </div>-->


                <div class="col-sm-12">
                    <h3>注射类</h3>
                    <div class="col-sm-3 drug-item" onclick="drug_click()">
                        <span>阿莫西林胶囊...</span><br/><span>药品规格</span></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 drug-item" onclick="drug_click()">
                        <span>阿莫西林胶囊...</span><br/><span>药品规格</span></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 drug-item" onclick="drug_click()">
                        <span>阿莫西林胶囊...</span><br/><span>药品规格</span></div>
                    <div class="col-sm-12">
                        <h3>非注射类</h3>
                        <div class="col-sm-3 drug-item" onclick="drug_click()" title="阿莫西林胶囊阿莫西林胶囊"
                             data-toggle="tooltip" data-placement="top">
                            <span>阿莫西林胶囊...</span><br/><span>药品规格</span>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3 drug-item" onclick="drug_click()"><span>阿莫西林胶囊...</span><br/><span>药品规格</span>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3 drug-item" onclick="drug_click()"><span>阿莫西林胶囊...</span><br/><span>药品规格</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h3>其他</h3>
                        <div class="col-sm-3 drug-item" onclick="drug_click()"><span>阿莫西林胶囊...</span><br/><span>药品规格</span>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3 drug-item" onclick="drug_click()"><span>阿莫西林胶囊...</span><br/><span>药品规格</span>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3 drug-item" onclick="drug_click()"><span>阿莫西林胶囊...</span><br/><span>药品规格</span>
                        </div>
                    </div>
                    <!--                <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus">-->
                    <!--                    删除</i></button>-->
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table" data-use-row-attr-func="true" data-reorderable-rows="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:src="@{/ajax/libs/bootstrap-table/extensions/reorder-rows/bootstrap-table-reorder-rows.js}"></script>
<script th:src="@{/ajax/libs/bootstrap-table/extensions/reorder-rows/jquery.tablednd.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "system/records"
    $("#form-records-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-records-add').serialize());
        }
    }

    var user = {
        password: "123456"
    }

    $("input[name='crtime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    var drugs = {};
    drugs["xxx"] = []
    drugs["yyy"] = []
    drugs["xxx"].push({
        drugName: "drugName",
        drugFullName: "drugFullName",
        drugType: "drugType",
        retailPrice: 1.5,
        drugSpecs: "drugSpecs",
        drugCount: 3,
        drugDays: 3,
        totalAmounts: 2.5,
        remarks: "remarks",
    });
    drugs["xxx"].push({
        drugName: "drugName",
        drugFullName: "drugFullName",
        drugType: "drugType",
        retailPrice: 1.5,
        drugSpecs: "drugSpecs",
        drugCount: 3,
        drugDays: 3,
        totalAmounts: 2.5,
        remarks: "remarks",
    });
    drugs["yyy"].push({
        drugName: "drugName",
        drugFullName: "drugFullName",
        drugType: "drugType",
        retailPrice: 1.5,
        drugSpecs: "drugSpecs",
        drugCount: 3,
        drugDays: 3,
        totalAmounts: 2.5,
        remarks: "remarks",
    });

    // 处方的药品信息
    var chufang_drugs = [];
    chufang_drugs.push({
        drugName: "drugName",
        drugFullName: "drugFullName",
        drugType: "drugType",
        retailPrice: 1.5,
        drugSpecs: "drugSpecs",
        drugCount: 3,
        drugDays: 3,
        totalAmounts: 2.5,
        remarks: "remarks",
    });
    var options = {
        pagination: false,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        sidePagination: "client",
        //data: chufang_drugs,
        onReorderRow: function (data) {
            //当拖拽结束后，data为整个表格的数据
            //console.table(data)
            // 当sidePagination: "server"时，拖拽行后顺序错乱，需要重新调用加载数据方法
            $("#bootstrap-table").bootstrapTable('load', data);
            return false;
        },
        columns: [
            {
                field: 'index',
                title: '序列',
                visible: true, //隐藏后，无法删除行
                formatter: function (value, row, index) {
                    return row.index = index + 1; //返回行号
                }
            },
            {
                field: 'drugName',
                align: 'center',
                title: '名称'
            },
            {
                field: 'drugType',
                align: 'center',
                title: '分类'
            },
            {
                field: 'retailPrice',
                align: 'center',
                title: '零售价'
            },
            {
                field: 'drugSpecs',
                align: 'center',
                title: '规格'
            },
            {
                field: 'drugCount',
                align: 'center',
                title: '用药数量',
                formatter: function (value, row, index) {
                    //var html = $.common.sprintf("<input class='form-control' type='text' name='drugCount' value='%s' onchange='cell_change()'>", value);
                    //console.log(row,index)
                    var html = $.common.sprintf("<input class='form-control' type='number' min='0' max='100' step='1' value='%s' onchange=\"cell_change(" + index + ",'drugCount')\">", value);
                    return html;
                }
            },
            {
                field: 'drugDays',
                align: 'center',
                title: '用药天数',
                formatter: function (value, row, index) {
                    var html = $.common.sprintf("<input class='form-control' type='text' name='drugDays' value='%s' onchange=\"cell_change(" + index + ",'drugDays')\">", value);
                    return html;
                }
            },
            {
                field: 'totalAmounts',
                align: 'center',
                title: '合计金额'
            },
            {
                field: 'remarks',
                align: 'center',
                title: '备注',
                formatter: function (value, row, index) {
                    var html = $.common.sprintf("<input class='form-control' type='text' name='remarks' value='%s' onchange=\"cell_change(" + index + ",'remarks')\">", value);
                    return html;
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                    return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="removeRow(' + value + ')"><i class="fa fa-remove"></i>删除</a>';
                }
            }],
        // onClickRow: function (row, ele) {
        //     console.log("row", row, ele)
        // },
        onClickCell: function (field, value, row, ele) {
            console.log("onClickCell", field, value, row, ele)
            currentRowIndex = row.index - 1;
            currentCellName = field;
            currentCellValue = value;
        },
    };

    $(function () {
        $.table.init(options);
        refresh_tabledata();
        $("[data-toggle='tooltip']").tooltip();
    });

    function refresh_tabledata() {
        $("#bootstrap-table").bootstrapTable("load", chufang_drugs);
    }

    // function addRow() {
    //     var count = $("#" + table.options.id).bootstrapTable('getData').length;
    //     var row = {
    //         index: $.table.serialNumber(count),
    //         drugPrice: "",
    //         counts: "",
    //         days: "",
    //         amount: "",
    //         remarks: "",
    //         crtime: "",
    //     }
    //     sub.addRow(row);
    // }

    function search_drug() {
        return;
        console.log("search_drug")
        var keywords = $("#seach_keywords").trim();
        if (keywords == "") {
            return
        }

        $.ajax({
            url: '/business/drugInfo/list',
            type: 'post',
            // 设置的是请求参数
            data: {
                pageSize: 999999,
                pageNum: 1,
                isAsc: "asc",
                drugName: keywords,
                // manufactor: "",
                // drugType: "",
                // drugCategory: ""
            },
            dataType: 'json', // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                console.log(res);
            }
        });
    }

    function drug_click() {
        // var count = $("#bootstrap-table").bootstrapTable('getData').length;
        // $("#bootstrap-table").bootstrapTable('insertRow', {
        //     index: count, // 你想插入到哪，0表示第一行
        //     row: {
        //         drugName: "drugName",
        //         drugType: "drugType",
        //         retailPrice: "retailPrice",
        //         drugSpecs: "drugSpecs",
        //         drugCount: "drugCount",
        //         drugDays: "drugDays",
        //         totalAmounts: "totalAmounts",
        //         remarks: "remarks",
        //     }
        // })

        chufang_drugs.push({
            drugName: "drugName",
            drugFullName: "drugFullName",
            drugType: "drugType",
            retailPrice: 2.8,
            drugSpecs: "drugSpecs",
            drugCount: 1,
            drugDays: 3,
            totalAmounts: 2.8,
            remarks: "remarks",
        });
        refresh_tabledata();

        //   $.table.refresh();
    }

    /* 删除指定表格行 */
    function removeRow(index) {
        // if (ids.length == 0) {
        //     $.modal.alertWarning("请至少选择一条记录");
        //     return;
        // }
        // console.log(index)
        // $("#bootstrap-table").bootstrapTable('remove', {
        //     field: 'index',
        //     values: [index]
        // })

        chufang_drugs.splice(index - 1, 1);
        refresh_tabledata();
    }


    function cell_change(rowindex, colName) {
        let value = event.target.value
        var rowData = chufang_drugs[rowindex]
        console.log("row index", rowindex, "cell value", value, "cell name", colName, typeof (value))

        if (rowData[colName] == value) {
            return
        }

        // 字段赋新值
        rowData[colName] = value
        // 计算总金额
        if (colName == "drugCount") {
            rowData["totalAmounts"] = (value * rowData["retailPrice"]).toFixed(2)
        }
        console.log("字段赋新值", value, "计算总金额", rowData["totalAmounts"])
        console.log(rowData);
        refresh_tabledata();
    }

    // 当前行索引
    var currentRowIndex = -1;
    // 当前列名
    var currentCellName = "";
    // 当前列值
    var currentCellValue = "";

    function updaterow_drugCount(rowindex, value) {
        $("#bootstrap-table").bootstrapTable("updateRow", {
            index: rowindex,//更新行索引，0起始
            replace: true,//合并or替换行数据，true替换，false合并，默认false
            row: {
                drugCount: value//更新行数据
            }
        });
    }

    function updaterow_drugDays(rowindex, value) {
        $("#bootstrap-table").bootstrapTable("updateRow", {
            index: rowindex,//更新行索引，0起始
            replace: true,//合并or替换行数据，true替换，false合并，默认false
            row: {
                drugDays: value//更新行数据
            }
        });
    }

    function updaterow_totalAmounts(rowindex, value) {
        $("#bootstrap-table").bootstrapTable("updateRow", {
            index: rowindex,//更新行索引，0起始
            replace: true,//合并or替换行数据，true替换，false合并，默认false
            row: {
                totalAmounts: value//更新行数据
            }
        });
    }
</script>
</body>
</html>