<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新建处方信息')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <style>
        .drug-item {
            border: solid thin #ddd;
            text-align: center;
            padding: 10px;
        }

        .scroll-pane {
            max-height: 350px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal m" id="form-records-add" th:object="${tPrescriptionRecords}">
                    <input name="id" th:field="*{id}" type="hidden">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2 control-label is-required">姓名：</label>
                            <div class="col-sm-2">
                                <input name="name" th:field="*{name}" class="form-control" type="text" required>
                            </div>

                            <label class="col-sm-2 control-label is-required">性别：</label>
                            <div class="col-sm-2">
                                <select name="sex" id="sex" class="form-control"
                                        th:with="type=${@dict.getType('sys_user_sex')}" onchange="change()">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}" th:field="*{sex}"></option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label is-required">年龄：</label>
                            <div class="col-sm-2">
                                <input name="age" th:field="*{age}" id="age" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label is-required">电话：</label>
                            <div class="col-sm-3">
                                <input name="phone" th:field="*{phone}" class="form-control" type="text" required>
                            </div>

                            <label class="col-sm-2 control-label">身份证号：</label>
                            <div class="col-sm-3">
                                <input name="idNumber" th:field="*{idNumber}" class="form-control" type="text"
                                       onchange="idNumber_change()">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">住址：</label>
                            <div class="col-sm-10">
                                <input name="address" th:field="*{address}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">诊断：</label>
                            <div class="col-sm-10">
                                <textarea name="diagnosis" class="form-control">[[*{diagnosis}]]</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input name="seach_keywords" id="seach_keywords" class="form-control" type="text"
                                   placeholder="请输入药品名或者别名">
                        </div>
                        <button type="button" class="btn btn-white btn-sm" onclick="search_drug()"><i
                                class="fa fa-search">搜索</i>
                        </button>
                        <a href="#qt" class="pull-right col-sm-1 btn btn-white btn-sm">其他</a>
                        <a href="#fzsl" class="pull-right col-sm-1 btn btn-white btn-sm">非注射类</a>
                        <a href="#zsl" class="pull-right col-sm-1 btn btn-white btn-sm">注射类</a>
                    </div>

                    <div class="scroll-pane">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12" id="zsl-html"></div>
                                <div class="col-sm-12" id="fzsl-html"></div>
                                <div class="col-sm-12" id="qt-html"></div>

                                <div class="col-sm-3 pull-right">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="days" placeholder="用药天数">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="padding:5px 12px;"
                                                    onclick="setAllDays()">Go!</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table" data-use-row-attr-func="true"
                                           data-reorderable-rows="true"></table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-12">
                                <div class="col-sm-9"></div>
                                <div id="zsje" class="col-sm-3" style="display: none">注射金额:</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-9"></div>
                                <div id="ypje" class="col-sm-3" style="display: none">药品金额:</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-9"></div>
                                <div id="zje" class="col-sm-3" style="display: none">总金额:</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table2" data-use-row-attr-func="true"
                           data-reorderable-rows="true"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:src="@{/ajax/libs/bootstrap-table/extensions/reorder-rows/bootstrap-table-reorder-rows.js}"></script>
<script th:src="@{/ajax/libs/bootstrap-table/extensions/reorder-rows/jquery.tablednd.js}"></script>
<script th:inline="javascript">
    // 药品分类
    var business_zsl = [[${@dict.getType('sys_drug_type')}]];


    var prefix = ctx + "system/records"
    $("#form-records-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            //console.log($('#form-records-add').serialize())

            let para = ""
            para += $.common.sprintf("name=%s", encodeURI(document.getElementsByName("name")[0].value))
            para += $.common.sprintf("&sex=%s", encodeURI(document.getElementsByName("sex")[0].value))
            para += $.common.sprintf("&age=%s", encodeURI(document.getElementsByName("age")[0].value))
            para += $.common.sprintf("&phone=%s", encodeURI(document.getElementsByName("phone")[0].value))
            para += $.common.sprintf("&address=%s", encodeURI(document.getElementsByName("address")[0].value))
            para += $.common.sprintf("&diagnosis=%s", encodeURI(document.getElementsByName("diagnosis")[0].value))
            para += $.common.sprintf("&idNumber=%s", encodeURI(document.getElementsByName("idNumber")[0].value))
            para += $.common.sprintf("&zsAmount=%s", tmpSyf)
            para += $.common.sprintf("&drugAmount=%s", drug_amount)
            para += $.common.sprintf("&totalAmount=%s", total_amount)

            chufang_drugs.forEach((item, index) => {
                para += $.common.sprintf("&tPrescriptionDrugInfoList[%s].days=%s", index, item.days);
                para += $.common.sprintf("&tPrescriptionDrugInfoList[%s].counts=%s", index, item.counts);
                para += $.common.sprintf("&tPrescriptionDrugInfoList[%s].remarks=%s", index, encodeURI(item.remarks));
                para += $.common.sprintf("&tPrescriptionDrugInfoList[%s].drugid=%s", index, item.drugid);
                para += $.common.sprintf("&tPrescriptionDrugInfoList[%s].drugPrice=%s", index, item.drugPrice);
                para += $.common.sprintf("&tPrescriptionDrugInfoList[%s].amount=%s", index, item.amount);
            });

            console.log(para);
            $.operate.save(prefix + "/add", para);
        }
    }

    $("input[name='crtime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    // 输液费
    var syf = 0;

    // 处方的药品信息
    var chufang_drugs = [[${tPrescriptionRecords.tPrescriptionDrugInfoList}]];

    var options = {
        id: "bootstrap-table",
        pagination: false,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        sidePagination: "client",
        //data: chufang_drugs,
        onReorderRow: function (data) {
            //当拖拽结束后，data为整个表格的数据
            // 当sidePagination: "server"时，拖拽行后顺序错乱，需要重新调用加载数据方法
            chufang_drugs = data;
            refresh_tabledata();
            return false;
        },
        columns: [
            {
                field: 'index',
                title: '序号',
                visible: true, //隐藏后，无法删除行
                formatter: function (value, row, index) {
                    return row.index = index + 1; //返回行号
                }
            },
            {
                field: 'drugName',
                align: 'center',
                title: '名称'
            },
            {
                field: 'drugTypeStr',
                align: 'center',
                title: '分类'
            },
            {
                field: 'drugPrice',
                align: 'center',
                title: '零售价'
            },
            {
                field: 'drugSpecs',
                align: 'center',
                title: '规格'
            },
            {
                field: 'counts',
                align: 'center',
                title: '用药数量',
                width: 40,
                formatter: function (value, row, index) {
                    return $.common.sprintf("<input class='form-control' type='number' min='0' max='9999' step='1' name='tPrescriptionDrugInfoList[%s].counts' value='%s' onchange=\"cell_change(%s,'counts')\">", index, value, index);
                }
            },
            {
                field: 'days',
                align: 'center',
                title: '用药天数',
                width: 40,
                formatter: function (value, row, index) {
                    return $.common.sprintf("<input class='form-control' type='number' min='0' max='9999' step='1' name='tPrescriptionDrugInfoList[%s].days' value='%s' onchange=\"cell_change(%s,'days')\">", index, value, index);
                }
            },
            {
                field: 'amount',
                align: 'center',
                title: '合计金额'
            },
            {
                field: 'remarks',
                align: 'center',
                title: '备注',
                width: 80,
                formatter: function (value, row, index) {
                    return $.common.sprintf("<input class='form-control' type='text' name='tPrescriptionDrugInfoList[%s].remarks' value='%s' onchange=\"cell_change(%s,'remarks')\">", index, value, index);
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                    return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="removeRow(' + value + ')"><i class="fa fa-remove"></i>删除</a>';
                }
            }],
    };

    var options2 = {
        id: "bootstrap-table2",
        pagination: false,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        sidePagination: "client",
        columns: [
            {
                field: 'drugName',
                align: 'center',
                title: '名称'
            },
            {
                field: 'drugTypeStr',
                align: 'center',
                title: '分类'
            },
            {
                field: 'drugPrice',
                align: 'center',
                title: '零售价'
            },
            {
                field: 'drugSpecs',
                align: 'center',
                title: '规格'
            },
        ],
    };

    $(function () {
        $.table.init(options);
        $.table.init(options2);
        refresh_tabledata();
        // 获取数据字典内容
        var syfDic = [[${@dict.getType('business_syf')}]];
        syf = Number(syfDic[0].dictValue);
    });

    function refresh_tabledata() {
        console.log(chufang_drugs)
        $("#bootstrap-table").bootstrapTable("load", chufang_drugs);
        $("#bootstrap-table2").bootstrapTable("load", chufang_drugs);
    }

    // 搜索出来的药品信息
    var drugList = []

    function search_drug() {
        drugList = [];
        $("#zsl-html").html("");
        $("#fzsl-html").html("");
        $("#qt-html").html("");
        var keywords = $("#seach_keywords").val().trim();
        if (keywords == "") {
            return
        }

        $.ajax({
            url: '/business/drugInfo/list',
            type: 'post',
            // 设置的是请求参数
            data: {
                pageSize: 999999,
                pageNum: 1,
                isAsc: "asc",
                drugName: keywords,
            },
            dataType: 'json', // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串

                drugList = res.rows;

                let zhushelei = res.rows.filter(a => a.drugType == "business_zsl")
                let fzhushelei = res.rows.filter(a => a.drugType == "business_fzsl")
                let qita = res.rows.filter(a => a.drugType == "business_qt")
                var html = "";
                if (zhushelei.length > 0) {
                    html = "<h3>注射类<a href=\"\" name=\"zsl\"></a></h3>";
                    zhushelei.forEach(item => {
                        item.drugTypeStr = "注射类";
                        let nameLimit6 = item.drugName
                        if (item.drugName.length > 6) {
                            nameLimit6 = item.drugName.substring(0, 6) + "...";
                        }
                        html += `<div class="col-sm-2 drug-item" onclick="drug_click('${item.id}')" title="${item.drugName}"
                             data-toggle="tooltip" data-placement="top">
                            <span>${nameLimit6}</span><br/><span>${item.drugSpecs}</span>
                        </div>
                        <div class="col-sm-1"></div>`
                    })
                }
                $("#zsl-html").html(html)

                html = "";
                if (fzhushelei.length > 0) {
                    html = "<h3>非注射类<a href=\"\" name=\"fzsl\"></a></h3>";
                    fzhushelei.forEach(item => {
                        item.drugTypeStr = "非注射类";
                        let nameLimit6 = item.drugName
                        if (item.drugName.length > 6) {
                            nameLimit6 = item.drugName.substring(0, 6) + "...";
                        }
                        html += `<div class="col-sm-2 drug-item" onclick="drug_click('${item.id}')" title="${item.drugName}"
                             data-toggle="tooltip" data-placement="top">
                            <span>${nameLimit6}</span><br/><span>${item.drugSpecs}</span>
                        </div>
                        <div class="col-sm-1"></div>`
                    })
                }
                $("#fzsl-html").html(html)
                html = "";
                if (qita.length > 0) {
                    html = "<h3>其他<a href=\"\" name=\"qt\"></a></h3>";
                    qita.forEach(item => {
                        item.drugTypeStr = "其他";
                        let nameLimit6 = item.drugName
                        if (item.drugName.length > 6) {
                            nameLimit6 = item.drugName.substring(0, 6) + "...";
                        }
                        html += `<div class="col-sm-2 drug-item" onclick="drug_click('${item.id}')" title="${item.drugName}"
                             data-toggle="tooltip" data-placement="top">
                            <span>${nameLimit6}</span><br/><span>${item.drugSpecs}</span>
                        </div>
                        <div class="col-sm-1"></div>`
                    })
                }
                $("#qt-html").html(html)
                $("[data-toggle='tooltip']").tooltip();
            }
        });
    }

    function drug_click(drugid) {
        let drugItem = drugList.find(a => a.id == drugid)
        if (drugItem == undefined) {
            return;
        }
        // 用药数量默认值
        let defaultCount = 1
        // 用药天数默认值
        let defaultDays = 1
        chufang_drugs.push({
            drugid: drugItem.id,
            drugName: drugItem.drugName,
            drugType: drugItem.drugType,
            drugTypeStr: drugItem.drugTypeStr,
            drugPrice: drugItem.retailPrice,
            drugSpecs: drugItem.drugSpecs,
            counts: defaultCount,
            days: defaultDays,
            amount: Number(drugItem.retailPrice * defaultCount.toFixed(2)),
            remarks: "",
        });

        updateZje();
        refresh_tabledata();
    }

    /* 删除指定表格行 */
    function removeRow(index) {
        chufang_drugs.splice(index - 1, 1);
        updateZje();
        refresh_tabledata();
    }

    // 当前输液费
    let tmpSyf = 0;
    // 药品总金额
    let drug_amount = 0;
    // 处方总金额
    let total_amount = 0;

    // 更新总金额
    function updateZje() {
        if (chufang_drugs.find(a => a.drugType == "business_zsl") != undefined) {
            tmpSyf = syf;
            $("#zsje").css("display", "block").text("注射金额：" + syf);
        } else {
            tmpSyf = 0;
            $("#zsje").css("display", "none");
        }

        chufang_drugs.forEach(a => drug_amount += a.amount);
        total_amount = tmpSyf + drug_amount;

        $("#ypje").css("display", "block").text("药品金额：" + drug_amount);
        $("#zje").css("display", "block").text("总金额：" + total_amount);
    }

    function cell_change(rowindex, colName) {
        let value = event.target.value
        var rowData = chufang_drugs[rowindex]

        if (rowData[colName] == value) {
            return
        }

        // 字段赋新值
        rowData[colName] = value
        // 计算总金额
        if (colName == "counts") {
            rowData["amount"] = Number((value * rowData["drugPrice"]).toFixed(2))
        }
        updateZje();
        refresh_tabledata();
    }

    function idNumber_change() {
        let value = event.target.value.trim();
        if (value.length != 18)
            return;

        let birthday = value.substr(6, 8)
        let year = birthday.substr(0, 4)
        let month = birthday.substr(4, 2)
        let day = birthday.substr(6, 2)
        let birthdate = new Date(year, month - 1, day)
        var age = Math.floor((new Date() - birthdate) / (1 * 24 * 60 * 60 * 1000) / 365);
        $("#age").val(age)
    }


    function setAllDays() {
        var str = $("#days").val().trim();
        if (!/^\d+$/.test(str)) {
            $.modal.msgError("请输入一个整数");
            return
        }
        var day = Number(str);
        chufang_drugs.forEach(item => {
            item.days = day;
        })
        refresh_tabledata();
    }
</script>
</body>
</html>