<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TPrescriptionRecordsMapper">

    <resultMap type="TPrescriptionRecords" id="TPrescriptionRecordsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="idNumber"    column="id_number"    />
        <result property="age"    column="age"    />
        <result property="sex"    column="sex"    />
        <result property="address"    column="address"    />
        <result property="phone"    column="phone"    />
        <result property="diagnosis"    column="diagnosis"    />
        <result property="skinTest"    column="skin_test"    />
        <result property="status"    column="status"    />
        <result property="doctorid"    column="doctorid"    />
        <result property="pharmacyid"    column="pharmacyid"    />
        <result property="nurseid"    column="nurseid"    />
        <result property="zsAmount"    column="zs_amount"    />
        <result property="drugAmount"    column="drug_amount"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="crtime"    column="crtime"    />
    </resultMap>

    <resultMap id="TPrescriptionRecordsTPrescriptionDrugInfoResult" type="TPrescriptionRecords" extends="TPrescriptionRecordsResult">
        <collection property="tPrescriptionDrugInfoList" notNullColumn="sub_prescriptionid" javaType="java.util.List" resultMap="TPrescriptionDrugInfoResult" />
    </resultMap>

    <resultMap type="TPrescriptionDrugInfo" id="TPrescriptionDrugInfoResult">
        <result property="prescriptionid"    column="sub_prescriptionid"    />
        <result property="drugid"    column="sub_drugid"    />
        <result property="drugName"    column="sub_drug_name"    />
        <result property="drugType"    column="sub_drugType"    />
        <result property="drugSpecs"    column="sub_drug_specs"    />
        <result property="drugPrice"    column="sub_drug_price"    />
        <result property="counts"    column="sub_counts"    />
        <result property="days"    column="sub_days"    />
        <result property="amount"    column="sub_amount"    />
        <result property="remarks"    column="sub_remarks"    />
    </resultMap>

    <sql id="selectTPrescriptionRecordsVo">
        select id, name, id_number, age, sex, address, phone, diagnosis, skin_test, status, doctorid, pharmacyid, nurseid, zs_amount, drug_amount, total_amount, crtime from t_prescription_records
    </sql>

    <select id="selectTPrescriptionRecordsList" parameterType="TPrescriptionRecords" resultMap="TPrescriptionRecordsResult">
        <include refid="selectTPrescriptionRecordsVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idNumber != null  and idNumber != ''"> and id_number = #{idNumber}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="diagnosis != null  and diagnosis != ''"> and diagnosis = #{diagnosis}</if>
            <if test="skinTest != null  and skinTest != ''"> and skin_test = #{skinTest}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="doctorid != null "> and doctorid = #{doctorid}</if>
            <if test="pharmacyid != null "> and pharmacyid = #{pharmacyid}</if>
            <if test="nurseid != null "> and nurseid = #{nurseid}</if>
            <if test="crtime != null "> and crtime = #{crtime}</if>
        </where>
    </select>

    <select id="selectTPrescriptionRecordsById" parameterType="Long" resultMap="TPrescriptionRecordsTPrescriptionDrugInfoResult">
        select a.id, a.name, a.id_number, a.age, a.sex, a.address, a.phone, a.diagnosis, a.skin_test, a.status, a.doctorid, a.pharmacyid, a.nurseid, a.zs_amount, a.drug_amount, a.total_amount, a.crtime,
               b.prescriptionid as sub_prescriptionid, b.drugid as sub_drugid, b.drug_name as sub_drug_name, b.drugType as sub_drugType, b.drug_specs as sub_drug_specs, b.drug_price as sub_drug_price, b.counts as sub_counts, b.days as sub_days, b.amount as sub_amount, b.remarks as sub_remarks
        from t_prescription_records a
                 left join t_prescription_drug_info b on b.prescriptionid = a.id
        where a.id = #{id}
    </select>

    <insert id="insertTPrescriptionRecords" parameterType="TPrescriptionRecords" useGeneratedKeys="true" keyProperty="id">
        insert into t_prescription_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="idNumber != null and idNumber != ''">id_number,</if>
            <if test="age != null">age,</if>
            <if test="sex != null and sex != ''">sex,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="diagnosis != null and diagnosis != ''">diagnosis,</if>
            <if test="skinTest != null and skinTest != ''">skin_test,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="doctorid != null">doctorid,</if>
            <if test="pharmacyid != null">pharmacyid,</if>
            <if test="nurseid != null">nurseid,</if>
            <if test="zsAmount != 0">zs_amount,</if>
            <if test="drugAmount != 0">drug_amount,</if>
            <if test="totalAmount != 0">total_amount,</if>
            <if test="crtime != null">crtime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="idNumber != null and idNumber != ''">#{idNumber},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="diagnosis != null and diagnosis != ''">#{diagnosis},</if>
            <if test="skinTest != null and skinTest != ''">#{skinTest},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="doctorid != null">#{doctorid},</if>
            <if test="pharmacyid != null">#{pharmacyid},</if>
            <if test="nurseid != null">#{nurseid},</if>
            <if test="zsAmount != null">#{zsAmount},</if>
            <if test="drugAmount != null">#{drugAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="crtime != null">#{crtime},</if>
        </trim>
    </insert>

    <update id="updateTPrescriptionRecords" parameterType="TPrescriptionRecords">
        update t_prescription_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="diagnosis != null and diagnosis != ''">diagnosis = #{diagnosis},</if>
            <if test="skinTest != null and skinTest != ''">skin_test = #{skinTest},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="doctorid != null">doctorid = #{doctorid},</if>
            <if test="pharmacyid != null">pharmacyid = #{pharmacyid},</if>
            <if test="nurseid != null">nurseid = #{nurseid},</if>
            <if test="zsAmount != null">zs_amount = #{zsAmount},</if>
            <if test="drugAmount != null">drug_amount = #{drugAmount},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="crtime != null">crtime = #{crtime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTPrescriptionRecordsById" parameterType="Long">
        delete from t_prescription_records where id = #{id}
    </delete>

    <delete id="deleteTPrescriptionRecordsByIds" parameterType="String">
        delete from t_prescription_records where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTPrescriptionDrugInfoByPrescriptionids" parameterType="String">
        delete from t_prescription_drug_info where prescriptionid in
        <foreach item="prescriptionid" collection="array" open="(" separator="," close=")">
            #{prescriptionid}
        </foreach>
    </delete>

    <delete id="deleteTPrescriptionDrugInfoByPrescriptionid" parameterType="Long">
        delete from t_prescription_drug_info where prescriptionid = #{prescriptionid}
    </delete>

    <insert id="batchTPrescriptionDrugInfo">
        insert into t_prescription_drug_info( prescriptionid, drugid, drug_name, drugType, drug_specs, drug_price, counts, days, amount, remarks) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.prescriptionid}, #{item.drugid}, #{item.drugName}, #{item.drugType}, #{item.drugSpecs}, #{item.drugPrice}, #{item.counts}, #{item.days}, #{item.amount}, #{item.remarks})
        </foreach>
    </insert>

</mapper>