<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('仓库入库记录列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>入库编号：</label>
                            <input type="text" name="warehouseCode"/>
                        </li>
                        <li>
                            <label>药品名称：</label>
                            <input type="text" name="drugName"/>
                        </li>
                        <!--                            <li>-->
                        <!--                                <label>药品别名：</label>-->
                        <!--                                <input type="text" name="drugAlisa"/>-->
                        <!--                            </li>-->
                        <li>
                            <label>过期时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="beginTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <!--                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="warehouse:manager:add">
                <i class="fa fa-plus"></i> 入库
            </a>
            <!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:manager:edit">-->
            <!--                    <i class="fa fa-edit"></i> 修改-->
            <!--                </a>-->
            <!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:manager:remove">-->
            <!--                    <i class="fa fa-remove"></i> 删除-->
            <!--                </a>-->
            <!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:manager:export">-->
            <!--                    <i class="fa fa-download"></i> 导出-->
            <!--                </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('warehouse:manager:edit')}]];
    var removeFlag = [[${@permission.hasPermi('warehouse:manager:remove')}]];
    var wareHouseLogOutBound = [[${@permission.hasPermi('warehouse:manager:outbound')}]];
    var prefix = ctx + "business/warehouse/manager";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "仓库入库记录",
            columns: [
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'drugId',
                    title: '药品种类Id',
                    visible: false
                },
                {
                    field: 'warehouseCode',
                    title: '入库编号'
                },
                {
                    field: 'drugName',
                    title: '药品名称'
                },
                {
                    field: 'drugAlisa',
                    title: '药品别名'
                },
                {
                    field: 'expirationTime',
                    title: '过期时间'
                },
                {
                    field: 'insertNum',
                    title: '入库数量'
                },
                {
                    field: 'residueNum',
                    title: '剩余数量'
                },
                {
                    field: 'createTime',
                    title: '入库时间'
                },
                {
                    field: 'userName',
                    title: '入库人员'
                },
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>出库</a> ');
                //         // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                //         // actions.push('<a class="btn btn-primary btn-xs ' + wareHouseLogOutBound + '" href="javascript:void(0)" onclick="wareHouseLogOutBoundFunction(\'' + row.id + '\')"><i class="fa fa-upload"></i>出库</a>');
                //         return actions.join('');
                //     }
                // }
            ]
        };
        $.table.init(options);
    });


    function wareHouseLogOutBoundFunction(id) {
        $.modal.open("出库", $.operate.editUrl(id), 800, 300);
    }

    function mysearch(){
        $.table.search()
    }
</script>
</body>
</html>